@import 'meyer-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&family=Roboto:wght@300;400;500;900&display=swap');

*, 
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* HEADER */
.header {
    display: flex;
    width: 100%;;
    justify-content: center;
    align-items: center;
    font-size: 3.25em;
    font-weight: 900;
    padding-top: .25em;
    padding-bottom: .5em;
    color: #16697A;
    background-color: #FFFCF9;
}

.main {
    background-color: #FFFCF9;
    height: 100vh;
}


/* SWITCH ---------------------------------------------- */

.vs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}


/* The switch - the box around the slider */
.switch {
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #14293b;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(253, 255, 206);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1b4536;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* SWITCH END ======================================== */

/* MAIN ---------------------------------------------- */

/* CONTAINER ----------------------------------------- */

.container {
  display: flex;
  justify-content: center;
}

/* GRID ---------------------------------------------- */

.grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 2px;
    background-color: #16697A;
}

.grid-block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    height: 90px;
    width: 90px;
    background-color: rgba(0, 0, 0, .5);
}

.grid-block:hover {
  background-color: rgba(0, 0, 0, .25);
}

.footer {
    background-color: #FFFCF9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: .25em;
    padding-bottom: .5em;
}